/*
 *
 * Common
 * 
 */

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
	font-family: 'Lato';
	font-size: 14px;
	color: #2d3c49;
}

header, nav, footer, section, article, div {
	box-sizing: border-box;
}

/*
 *
 * Header
 * 
 */

.header {
	min-height: 100px;
}

.header__inner {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.header__logo {
	width: 100px;
}

.header__titles {
	float: right;
	height: 100%;
	margin-top: 15px;
	display: inline-block;
}

.header__title {
	font-weight: 200;
  	font-size: 2em;
  	margin: 0px 15px 0px 0px;
}

.header__subtitle {
	font-weight: 500;
	font-size: 1em;
	float: right;
	margin: 0px 15px 0px 0px;
}

.header__border {
	border-bottom: 3px solid #7d97ad;
	margin-right: 15px;
	margin-left: 15px;
}

/*
 *
 * Main
 * 
 */

main {
	margin: 15px;
}

#pipeline__img {
	width: 100%;
}

/*
 *
 * Section
 * 
 */

section {
	margin-top: 5px;
	margin-bottom: 5px;
}

.section__titles {
	color: #7d97ad;
	font-size: 2em;
	font-weight: 500;
}

/*
 *
 * Position
 * 
 */

.content_list {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	padding: 0;
}

.content__item {
	width: 100%;
	margin: 10px 0 10px 0;
}

.content__wrapper {
	display: block;
	padding: 0 10px 0 10px;
	width: 70%;
	margin: 0 auto;
	text-align: center;
}

.content__image {
	height: 50px;
	max-width: 100%;
}

.content__time {
	font-size: 1em;
	font-weight: 600;
}

.content__title {
	font-size: 1.2em;
	font-weight: 200;
}

/*
 *
 * Featured Work
 * 
 */

.project__image {
	max-width: 50%;
}

.project__title {
	font-size: 2.1em;
	font-weight: 500;
}

.position__item__url {
	text-decoration: none;
	color: #2d3c49;
	font-size: 0.8em;
}

/*
 *
 * Footer
 * 
 */


.network__site {
	list-style: none;
}

.network__site__link {
	display: inline-block;
	width: 49%;
}